{% extends "account/base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<h1>Logowanie</h1>
    {% if form.errors %}
        <p>
        Nazwa użytkownika lub hasło są nieprawidłowe. Spróbuj ponownie.
        </p>
    {% else %}
        <p>Wypełnij poniższy formularz, aby się zalogować. Jeżeli nie masz jeszcze konta, możesz je utworzyć <a href="{% url "register" %}">tutaj</a>.</p>
    {% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Zaloguj"></p>
        <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
    </form>
</div>
{% endblock %}
