{% extends 'base.html' %}
{% load service_extras %}

{% block content %}
<h1> Welcome to our NewSocial app!</h1>
<ul>
    {% for service in object_list %}
    <li>
        {% service_format service short=True %}
         <a href="{% url 'services:service_detail' service.pk %}">detail</a>
        <a href="{% url 'services:service_edit' service.pk %}">edit</a>
        <a href="{% url 'services:service_delete' service.pk %}">delete</a>
        {{ service.title }} ({{service.price}}) - {{service.rating}} {{service.category.name}}
    </li>
    {% endfor %}
</ul>
{% endblock %}